.menuInfo {
	position: absolute;
	float: left;
}

.userinfo {
	position: relative;
	float: left;
	left: 200px;
}

.infoborder{
	height: 255px;
	border: 1px groove #e8e8e8;
}

ul li
{
	list-style-type:none;
	height: 25px;
}

.list {
	margin: 0;
	padding: 0;
	width: 100px;
}

.cont {
	width: 150px;
	border:1px solid #e8e8e8;
	padding-left:20px;
}

.umenu {
	width: 150px;
	background-color: #116Fb5;
	border:1px solid #c4e3f3;
	padding-left:20px;
	color: #fdfdfd;
	font-size: 15px;
}

.info_bar {
	background-color: #bababa;
	width: 800px;
	height: 30px;
	padding-left: 20px;
	padding-top: 5px;
}

.curscore {
	width: 800px;
	height: 40px;
	padding-left: 20px;
	border: 1px groove #e8e8e8;
	padding-top: 10px;
}

.blank {
	height: 10px;
}

.scoredetail {
	padding-top: 15px;
	padding-left: 20px;
	border-bottom:1px inset;
	padding-bottom: 10px;
}

.scoreintro {
	float:left;
	width: 450px;
	padding-top: 20px
}

.scoreex {
	padding-left:20px;
	border-bottom:1px inset;
}

.scorebtn{
	padding-top: 5px;
}

.userinfo_box {
	padding-left: 5px;
}

.userinfotable{
	height: 180px;
}

.scorehint{
	padding-top:10px;
	padding-left:20px;
	background-color: #f7ecb5;
	height:120px;
}

.user_ico_img{
	width: 150px;
	height: 150px;
	border: 1px groove #e8e8e8;
}

.user_fav_img{
	width: 80px;
	height: 80px;
	border: 1px groove #e8e8e8;
}

.stat{
	padding-left: 20px;
}

.borderbottom {
	padding-left:20px;
	padding-top: 20px;
	border-bottom:1px inset;
}

.form-adrdetail{
	padding-left: 30px;
	padding-top:20px;
	padding-bottom: 20px;
	border: 1px groove #e8e8e8;
}

.form-chpwd{
	padding-top: 20px;
	padding-left:30px;
}

.form-userinfo{
	padding-top: 20px;
	padding-left:30px;
}

.form-common{
	padding-top: 20px;
	padding-left:30px;
}

.gridview{
	padding-top: 15px;
}

.detail-order{
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px groove #e8e8e8;
}

dl{clear:left;}
dt,dd{float:left;}
tr{height: 40px;}





